<div class="users_show_view">
  <%= render 'shared/user', user: @user %>

  <article class="user-content">
    <h3>Bio</h3>
    <span><%= @user.bio %><span>
  </article>
  
  <% @user.most_recent_posts.each do |post| %>
    <div class="post-content">
        <h2 class="post-title"> Post : <%= post.title%></h2>
        <p class="post-text"><%= post.text%></p>
        <div class="post-count">
          <span>Comments: <%= post.comments_counter%><span>
          <span>Likes: <%= post.likes_counter%><span>
        </div>
    </div>
  <% end %>
  <button><%= link_to "See all posts", user_posts_path(@user.id) %></button>
</div>