<article class='main container'>
  <h1> All posts </h1>
  <%= render 'shared/user', user: @user %>

  <article class="posts-comments">
  <% @posts.each do |post| %>
    <%= link_to "./posts/#{post.id}" do %>
    <article class="post-content">
      <h3> Post : <%= post.title%></h3>
      <p><%= post.text.truncate_words(20, omission: '...(continued)') %></p>
      <div class="post-count">
        <span><em><b>Comments: <%= post.comments_counter%></b></em></span>
        <span><em><b>Likes: <%= post.likes_counter%></b></em></span>
      </div>
      <ul>
        <% if can? :destroy, Post %>
          <li><%= button_to "del", user_post_path(post.author, post.id), method: :delete  %></li>
        <%end%>
        <%= link_to user_post_path(@user.id, post.id) do %>
          <button type="button" class="view-posts-btn my-1">View post</button>
        <% end %>
      </ul>
    </article>
    <% end %>
    <% if post.comments.size > 0 %>
        <ul class="comments-container">
          <% post.most_recent_comments.each do |comment| %>
            <li>
              <span><em><b><%= comment.author.name %>: </b></em></span>
              <span><%= comment.text %></span>
            </li>
          <% end %>
        </ul>
    <% end %>
  <% end %>
  </article>
  <div class="all-posts d-flex justify-content-center">
    <%= link_to "Pagination", user_posts_path, class: 'btn btn-outline-info my-3' %>
  </div>
</article>