<article class="post-container container">
  <div class="header flex">
    <h2><%= @post.title %> by <%= @post.author.name %></h2>
  <article class="post-content">
      <p><%= @post.text %></p>
    </article>
    <div class="comments-likes">
      <span><em><b>Comments: <%= @post.comments_counter %></em></b></span>
      <span><em><b>Likes: <%= @post.likes_counter %></em></b></span>
    </div>
  </div>
  <% unless @post.comments.size == 0 %>
    <ul class="container">
      <% @post.comments.each do |comment| %>
        <li><%= comment.author.name %>: <%= comment.text %></li>
        <% if can? :destroy, comment %>
          <%=button_to "delete", user_post_comment_path(@post.author, @post, comment), method: :delete %>
        <% end %>
      <% end %>
  </ul>
  <% end %>
  <div class="d-flex">
    <%= link_to 'Comment', new_user_post_comment_path(user_id: @post.author_id, post_id: @post.id), class: 'btn btn-outline-primary' %>
    <%= form_with url: "/users/#{@post.author_id}/posts/#{@post.id}/likes" do |f| %>
      <%= f.submit 'Like', class: 'btn btn-outline-danger mx-2' %>
    <% end %>
    <%= link_to 'Back to posts', user_posts_path, class: 'btn btn-outline-secondary' %>
  </div>
</article>