<div class="show_post_view">
    <div class="post-container">
        <div class="post-details">
        <div class="post-title"><%= @post.title %></div>
        <div class="post-author">Author: <%= @post.author.name %></div>
        <div class="post-comments">Comments: <%= @post.comments_counter %></div>
        <div class="post-likes">Likes: <%= @post.likes_counter %></div>
        </div>
        <div class="post-content">
        <div class="post-text"><%= @post.text %></div>
        <div class="post-date">Date: <%= @post.created_at %></div>
        </div>
    </div>
    <div class="post-comments">
        <div class="comments-container">
        <% @post.comments.each do |comment| %>
            <div class="comment-container">
            <div class="comment-details">
                <div class="comment-author">Author: <%= comment.author.name %></div>
                <div class="comment-likes">Likes: <%= comment.likes_counter %></div>
            </div>
            <div class="comment-content">
                <div class="comment-text"><%= comment.text %></div>
                <div class="comment-date">Date: <%= comment.created_at %></div>
            </div>
            </div>
        <%end%>
        </div>
    </div>
</div>