<div class="show_post_view">
    <div class="post-container">
        <div class="post-details-post">
            <h2>Post <%= @post.title %> by <%= @post.author.name %></h2>
             <div class="post-count">
                <span>Comments: <%= @post.comments_counter%><span>
                <span>Likes: <%= @post.likes_counter%><span>
            </div>
        </div>
        <div class="post-content">
            <p><%= @post.text %></p>
            <div class="post-date">Date: <%= @post.created_at %></div>
        </div>
    </div>
    <div class="post-comments">
        <% if @post.comments.size != 0 %>
            <ul class="comment-container">
                <% @post.comments.each do |comment| %>
                    <li><%= comment.author.name %>: <%= comment.text %></li>
                <% end %>
            </ul>
        <% end %>
    </div>
    <div class="add-comment-container">
        <%= link_to 'Comment', new_user_post_comment_path(user_id: @post.author_id, post_id: @post.id), class: 'btn' %>
    <%= form_with url: "/users/#{@post.author_id}/posts/#{@post.id}/likes" do |f| %>
      <%= f.submit 'Like', class: 'btn' %>
    <% end %>
    <%= link_to 'Back to posts', user_posts_path, class: 'btn' %>
    <div>
</div>
